KAFKA_HEAP_OPTS=-Xms{{ initial_heap_size }} -Xmx{{ max_heap_size }} -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:InitiatingHeapOccupancyPercent=35 -XX:G1HeapRegionSize=16M -XX:MinMetaspaceFreeRatio=50 -XX:MaxMetaspaceFreeRatio=80